<div class="container">
    <div class="col-sm-6 col-xs-12 text-center">
      <h1>Top Quackers</h1>
        <% @top_ducks.each do |duck| %>
        <ul class="list-unstyled">

          <li> <%= duck.username %>: <%= duck.quacks.size %> quacks
            <% if @current_user.following?(duck) %>
            <%= link_to "- Unfollow", unfollow_path(user_id: duck.id), method: :post%>
            <% else %>
            <%= link_to "- Follow", follow_path(user_id: duck.id), method: :post%>
            <% end %>
          </li>
        </ul>
        <% end %>
    </div>
    <div class="col-sm-6 col-xs-12 text-center">
      <h1>Top Ducks</h1>
        <% @top_ducks.each do |duck| %>
        <ul class="list-unstyled">
          <li> <%= duck.username %> : <%= duck.followers_count %> ducklings
            <% if @current_user.following?(duck) %>
            <%= link_to "- Unfollow", unfollow_path(user_id: duck.id), method: :post%>
            <% else %>
            <%= link_to "- Follow", follow_path(user_id: duck.id), method: :post%>
            <% end %>
         </li>
        </ul>
        <% end %>
    </div>
</div>
